.new_modal_container{
  width: 800px;
  margin-top: 250px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px;
  border: 2px solid  black;
  border-radius: 3px;
  color: white;
  background-color: rgba(black, 0.8);
}

.new_modal_body {
  width: 100%;
}