<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), 
url(<%= image_path 'background.jpg' %>);">
  <div class="banner-content">
    <h1 style="margin-bottom: 50px">Mister Cocktail</h1>
    <div class="btn-container">
      <a class="btn" href="#cocktails_header" id="call_to_action_btn">Start now</a>
    </div>
  </div>
</div>