// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";

.cocktails_list_header {
  text-align: center;
  margin: 40px;
  color: white;
}